SaifeEcho
SaifeEchoDemo/java/lib
SAIFEDARDemo/java/lib/
SAIFEDARDemo/java/bin
SAIFEDARDemo/java/.SaifeStore
SAIFEDARDemo/cpp/include
SAIFEDARDemo/cpp/lib
SAIFENSDemo/java/include
SAIFENSDemo/java/jars
SAIFENSDemo/java/lib
